.todo {
   padding: 25px 15px;
  border-bottom: 1px solid #000;
  width: 100%;
}
.todo:hover {
  padding: 20px 10px;
}
.todo:last-child{
  border-bottom: none;
}
.todo-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.todo-title {
  font-size: 18px;
  color: #fff9;
}
.todo-delete{
  display: none;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: blue;
}
